/vignettes/polyfitradiospec.tex
vignettes/onednested.tex
/vignettes/*.pdf
/vignettes/*.aux
/vignettes/*.bbl
/vignettes/*.blg
/vignettes/*.log
/vignettes/*.out
/man/*

/examples/polyfitradiospec.aux
/examples/polyfitradiospec.blg
/examples/polyfitradiospec.bbl
/examples/polyfitradiospec.log
/examples/polyfitradiospec.out
/examples/polyfitradiospec.pdf
/examples/polyfitradiospec.tex
/RNested_0.2.tar.gz
